*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgb(245, 240, 240);
}
.box{
     width: 550px;
     height: 695px;
     background-color:white;
     margin-left:460px;
     margin-top: 25px;
     margin-bottom: 10px;
     text-align: center;
     padding: 50px;
     
    
}
@font-face {
    font-family: Font2;
    src: url(../fonts/LexendMega-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: Font1;
    src: url(../fonts/WindSong-Regular.ttf);
  }
  @font-face {
    font-family: Font3;
    src: url(../fonts/NotoSansAdlamUnjoined-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Font4;
    src: url(../fonts/Lexend-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Font5;
    src: url(../fonts/GreatVibes-Regular.ttf);
  }

.box .top{
    font-family:Font1;
    width: 100px;
    margin-left:150px;
    font-size: 80px;  
    transform: rotate(-18deg);
    font-weight: normal;

}
.box .top2{
    
    font-family:Font1;
    width: 100px;
    margin-left:90px;
    font-size: 80px;
    transform: rotate(-18deg);  
    font-weight: normal;

}
.box .top3{
    
    font-family: Font1;
    width: 100px;
    margin-left:100px;
    font-size: 80px;
    transform: rotate(-30deg);
    padding-left: 110px;
    font-weight: normal;
   
  
   
      
}
.box p{

    font-family: Font2;
   
}
.box .bodypart1{
    font-family: Font3; 
    word-spacing: 5px; 
     margin-top: 30px;
}
.box .bodypart2{
    font-family: Font4; 
    word-spacing: 5px; 
     margin-top: 15px;
}
.box .bodypart3{
    font-family: Font4; 
    word-spacing: 5px; 
     margin-top: 5px;
}
.box .bodypart4{
    font-family: Font3; 
    word-spacing: 5px; 
     margin-top: 10px;
}
.box .bodypart5{
    font-family: Font5; 
   font-size: large;
     margin-top: 15px;
     font-weight: 10px;
}


